/**** MESSAGES D'ALERTE ****/
$alertSuccesBgColor: #43AC6A;
$alertInfoBgColor: #008CBA;
$alertWarningBgColor: #F08A24;
$alertDangerBgColor: #F04124;
$alertColor: #FFFFFF;

.alert
{
    width: 100%;
    margin-bottom: 10px;
    padding: 15px 0 15px 20px;
    color: $alertColor;   
}


.alertSucces
{
    background: $alertSuccesBgColor;
    border-bottom: solid 5px darken($alertSuccesBgColor, 10);
}

.alertInfo
{
    background: $alertInfoBgColor;
    border-bottom: solid 5px darken($alertInfoBgColor, 10);
}

.alertWarning
{
    background: $alertWarningBgColor;
    border-bottom: solid 5px darken($alertWarningBgColor, 10);
}

.alertDanger
{
    background: $alertDangerBgColor;
    border-bottom: solid 5px darken($alertDangerBgColor, 10);
}
