$colorLinkAriane: #FEFEFE;
$bgColorAriane : #2A6EE3;


ul.ariane
{
	box-sizing: border-box;
	overflow: hidden;
	list-style: none;
}

ul.ariane > li
{
	float: left;
	margin: 0 .5em 0 1em;
}

ul.ariane >li > a
{
	background: lighten($bgColorAriane, 20);
	padding: 10px;
	float: left;
	text-decoration: none;
	position: relative;
	color: $colorLinkAriane;
	font-weight: 100;
}

ul.arianne > li > a:first-of-type::before
{
	border: none;
}

ul.ariane > li > a::before
{
	content: "";
	position: absolute;
	top: 50%; 
	margin-top: -1.5em;   
	border-width: 1.5em 0 1.5em 1em;
	border-style: solid;
	border-color: lighten($bgColorAriane, 20) lighten($bgColorAriane, 20) lighten($bgColorAriane, 20) transparent;
	left: -1em;
}


ul.ariane > li > a::after
{
	content: "";
	position: absolute;
	top: 50%; 
	margin-top: -1.5em;   
	border-top: 1.5em solid transparent;
	border-bottom: 1.5em solid transparent;
	border-left: 1em solid lighten($bgColorAriane, 20);
	right: -1em;
}

// PREMIER ELEMENT

ul.ariane > li:first-of-type > a::before
{
	border: none;
}

ul.ariane > li:first-of-type > a
{
	border-radius: 0.4em 0 0 0.4em;
	padding-left: 1em;
}


// DERNIER ELEMENT 

ul.ariane > li:last-of-type > a::before
{
	border-color: $bgColorAriane $bgColorAriane $bgColorAriane transparent;
}

ul.ariane > li:last-of-type > a
{
	background: $bgColorAriane;
	border-radius: 0 0.4em 0.4em 0;
	padding-right: 1em;
}

ul.ariane > li:last-of-type > a::after
{
	content: normal; 
	border: none;
}