/**** STYLES SUR LES BOUTONS ****/

.btn
{
    font-size: $buttonFontSize;
    height: $buttonHeight;
    cursor: pointer;
    background: $buttonBgColor;
    padding: 10px 20px 10px 20px;
    border: none;
    font-weight: 100;
    box-shadow: 3px 4px 5px #000000;
}

.btn:hover
{
    background: lighten($buttonBgColor, 12);
}

.btn:active
{
    background: darken($buttonBgColor, 20);
}

.btnLarge
{
    font-size: $buttonFontSize+1;
    height: $buttonHeight+20;
    padding: 0 $buttonPadding+10 0 $buttonPadding+10;
}

.btnSmall
{
    font-size: $buttonFontSize+-0.4;
    height: $buttonHeight+-20;
    padding: 0 $buttonPadding+-5 0 $buttonPadding+-5;
}

.btnStylistic
{
    border-radius: 10px;
    background: linear-gradient($buttonBgColor, darken($buttonBgColor, 20));
}

.btnStylistic:hover
{
     background: linear-gradient(darken($buttonBgColor, 20), $buttonBgColor);
}

.btnStylistic:active
{
    background: darken($buttonBgColor, 25);
}

.btnXL
{
    width: 100%;
}

.btnFancy
{
    background: linear-gradient(darken($buttonBgColor, 5), darken($buttonBgColor, 50));
    color: #EFEFEF;
    border-radius: 20px;
    padding: 0 15px 0 15px;
    box-shadow: 0 0 5px rgba( 12, 12, 12, 0.5),
                 0 -1px 0 rgba( 255, 255, 255, 0.4);
}

.btnFancy:hover{
    background: linear-gradient(lighten($buttonBgColor, 5), darken($buttonBgColor, 30));
}

.btnFancy:active
{
    box-shadow: 1px 1px 10px black inset, 
                 0 1px 0 rgba( 255, 255, 255, 0.4);
}


/* COULEUR DES BOUTONS */

.btnRed
{
    background: $buttonBgRed;
}

.btnRed:hover
{
    background: lighten($buttonBgRed, 5);
}

.btnRed:active
{
    background: darken($buttonBgRed, 5);
}

.btnBlue
{
    background: $buttonBgBlue;
    color: #000000;
}

.btnBlue:hover
{
    background: lighten($buttonBgBlue, 5);
}

.btnBlue:active
{
    background: darken($buttonBgBlue, 5);
}

.btnGreen
{
    background: $buttonBgGreen;
}

.btnGreen:hover
{
    background: lighten($buttonBgGreen, 5);
}

.btnGreen:active
{
    background: darken($buttonBgGreen, 5);
}

