*{
    font-family: $fontStack;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6
{
    margin: 5px 0 5px 0;
    font-family: $fontStack;
}

h1
{
    font-size: $fontSize;
    font-weight: 100;
}

h2
{
    font-size: $fontSize/1.2;
    font-weight: 100;
}

h3
{
    font-size: $fontSize/1.4;
    font-weight: 100;
}

h4
{
    font-size: $fontSize/1.6;
    font-weight: 100;
}

h5
{
    font-size: $fontSize/1.8;
    font-weight: 100;
}

h6
{
    font-size: $fontSize/1.9;
    font-weight: 100;
}

small
{
    color: $colorSmall;
    font-size: 0.8em;
}

p
{
    margin-bottom: $marginBottom;
    font-family: $fontStack;
}

mark
{
    background-color: $bgMark;
    color: $color;
    font-weight: 100;
    padding-right: 3px;
}

del
{
    font-weight: 100;
    color: $colorRed;
}

ins
{
    @extend mark;
    font-style: normal;
    padding-left: 3px;
}

u
{
    text-decoration: underline;
}

strong
{
    font-weight: 900;
}

em
{
    @extend u;
}

abbr::before, abbr::after
{
    content: "\"";
}

abbr
{
    text-transform: capitalize;
}

q::before
{
    content: "<<";
}

q::after
{
    content: ">>";
}

blockquote
{
    padding: 0.5%;
    margin: 0.5%;
    border: dotted 1px $borderColor;
}

code
{
    font-size: 0.9em;
    color: $colorGreyMedium;
    background-color: $bgMark;
    font-weight: 100;
    margin-bottom: 100px;
    padding: 1%;
    border-top: solid 2px $colorRed;
    border-bottom: solid 2px $colorRed;
    display: block;
    width: 30%;
    font-family: Lucida, console, menlo;
}

a
{
    font-family: $fontStack;
}

/**** STYLES SUR TEXTE ****/ 

.center
{
    text-align: center;
}

.left
{
    text-align: left;
}

.right
{
    text-align: right;
}

.justify
{
    text-align: justify;
}

.small
{
    font-size: 1em;
    color: $colorSmall;
    font-weight: 100;
}

.smallNoFormat
{
    font-size: 1.2em;
}

.uppercase
{
    text-transform: uppercase;
}

.lowercase
{
    text-transform: lowercase;
}

.underline
{
    text-decoration: underline;
}

.hide
{
    display: none;
}

.borderBottom
{
    border-bottom: solid 1px #AEAEAE;
}

.noBorder
{
    border: none;
}

/**** STYLES SUR LES BLOCS ****/

.border{
    border: solid 1px $borderColor;
}

.hover:hover
{
    color: $colorHover;
}


