/**** HEADER ****/
header
{
    text-align: center;
    padding: 15px 0 15px 0;
    background: $bg;
    border-bottom: solid 5px darken($bg, 10);
    @media screen and (min-width: 640px){
    	background-image: url('../img/backGr.jpg');
    	background-repeat: no-repeat;
    	background-position: center;
		background-size: cover; 

		div, form
		{
			display: inline-block;
			width: 49%;
			vertical-align: middle;
		}
	}
}

header > div > img
{
	width: 15%;
	@media screen and (min-width: 640px) {
		width: 35%;
	}
}

header > div > h1
{
	color: $colorHeader;
	padding: 5px 0 5px 0;
	font-weight: 100;
}

