/**** JUMBOTRON ****/
$jumboBg: #C8C8C8;

.jumbotron
{
    width: 70%;
    margin: auto;
    background: $jumboBg;
    border-radius: 5px;
    text-align: center;
    padding: 15px 0 30px 0;
}

.jumbotron p
{
    width: 80%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 100;
}

.jumboV2
{
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: solid 1px #AEAEAE;
    text-align: center;
}

.jumboV2 a
{
    border-bottom: none;
}

.jumboV2 p
{
    text-align: justify;
    font-size: 1.7em;
    font-weight: 200;
}

.jumboV2 > img
{
    height: 200px;
    width: auto;
}

.jumboMini
{
    @extend .jumboV2;
}

.jumboMini > a, .jumboV3 > a
{
    color: $colorDark;
    text-decoration: none;
    display: block;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 14px;
    @extend .btn;
    @extend .btnBlue;
}

.jumboV3
{
    @extend .jumboV2;
    width: 100%;
    border-top: none;
}

.jumboList
{
    @extend .jumboV2;
}

@media screen and (min-width: 640px){
    .jumboV3, #indexList
    {
        width: 49%;
        display: inline-block;
        vertical-align: top;
    }   

    .jumboList
    {
        margin-left: 0.6%;
        width: 49%;
        display: inline-block;
        vertical-align: top;
    }
}

