$colorInB : #EDEDED;

.inlineBlock
{
	margin: 0;
	padding: 0;
	font-size: 0;
	background: $bg;
}

.inlineBlock > li
{
	display: block;
	font-size: 1.6rem;
	width: 100%;
	min-width: 150px;
	border-bottom: solid 5px darken($bg, 10);
	@media screen and (min-width: 640px){
    	display: inline-block;
    	width: 33.333%;
    	font-size: 1.3rem;
	}
}

.inlineBlock > li:hover
{
	background: lighten($bg, 5);
}

.inlineBlock > li > a
{
	display: block;
	padding: 5%;
	text-align: center;
	color: $colorInB;
	text-decoration: none;
	font-weight: 100;
	@media screen and (min-width: 640px) {
    	padding: 10%;
    	font-weight: normal;
	}
}

.inlineBlock > li > a.disabled,
.inlineBlock > li > a.disabled:hover
{
	background: lighten($bg, 20);
	cursor: initial;
}

.inlineBlock > li > a.active
{
	background: darken($bg, 20);
}