$colorPagination: #EFEFEF;
$bgList : #212121;
$bgListActive: #2A6EE3;


ul.pagination
{
	list-style: none;
}

ul.pagination > li
{
	display: inline-block;
}

ul.pagination > li > a
{
	padding: 0.4em;
	color: $colorPagination;
	text-decoration: none;
	font-weight: 100;
	display: block;
	background: $bgList;
	border-radius: 0.3em;
}

ul.pagination > li > a:hover
{
	background: lighten($bgList, 20);
}

ul.pagination > li > a.disabled,
ul.pagination > li > a.disabled:hover
{
	background: lighten($bgList, 30);
	cursor: initial;
}

ul.pagination > li > a.active
{
	background: $bgListActive;
}