/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/box-shadow";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100);

$bg : #396DF3;
$colorSmall: #909090;
$colorGreyMedium: #EDFEDF;
$marginBottom: 10px;
$bgMark: #212121;
$color: #EDEDED;
$colorDark: #212121;
$colorHeader: #FFFFFF;
$colorRed: #EF1209;
$borderColor: #343434;
$colorHover: #6787FE;
$fontSize: 3.5em;
$fontStack: Roboto, Geneva,Tahoma,Verdana,sans-serif;
$buttonFontSize : 1.5em;
$buttonHeight : 50px;
$buttonBgColor: #FFFFFF;
$buttonPadding: 10px;
$buttonBgBlue: #396DF3;
$buttonBgRed: #EF473A;
$buttonBgGreen: #33CD5F;

@import "_grid";
@import "_header";
@import "_nav";
@import "_generique";
@import "_alert";
@import "_ariane";
@import "_button";
@import "_jumbo";
@import "_list";
@import "_pagination";
@import "_form";
@import "_footer";
@import "_img";

@media screen and (min-width: 640px) {
	.inlineAnnonce
	{
		width: 60%;
		display: inline-block;
		vertical-align: top;
		margin-left: 0.5%;
	}

	.inlineAnnonceSecond
	{
		width: 37%;
		display: inline-block;
		vertical-align: top;
	}
}